<hr>
<footer>
    <div class="f-info sticky-bottom " id="footer_style">

        <div class="tag_style"> &copy;2025 wanderLust private limited</div>
        <div class="f-info-links ms-1">
            <a href="/Privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>

        <div class="f-info-socials " id="icon_style">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>



    </div>





</footer>